certifi==2022.9.14
charset-normalizer==2.1.1
colorama==0.4.5
customtkinter==4.6.1
darkdetect==0.7.1
filelock==3.8.0
idna==3.4
importlib-metadata==4.12.0
numpy==1.26.4
packaging==22.0
Pillow==9.2.0
pyparsing==3.0.9
PyYAML==6.0.1
regex==2022.9.13
requests==2.28.1
tk==0.1.0
tqdm==4.64.1
typing_extensions==4.3.0
urllib3==1.26.12
zipp==3.8.1
pygcode==0.2.1
opencv-python==4.10.0.84
opencv-contrib-python==4.10.0.84
openscad-runner==1.1.1
Wand==0.6.13
